<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/shopping.css">
        <title>Carrito Compras</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>

    <main>
        <section class="section-one">
            <div> 
                Mi Carrito > <%= carrito %> items
            </div>
            <div class="return-button">
                <a href="/">Seguir buscando</a>
            </div>
        </section>

        <div class="line"></div>

        <div class="conteiner">
            <section class="section-two">
                <% if ( shopping == '') { %> 
                    <div class="without">Todavia no agregaste ningún producto al carrito</div>
                <% } else { %> 
                    <% shopping.forEach( data => { %>
                        <article>
                            <div class="conteiner-image">
                                <img class="image" src="/img/productImage/<%= data.product_shop.product.images[0].img %> " alt="Imagen del producto del carrito">
                            </div>
                            <div class="conteiner-data">
                                <div class="data">
                                    <div class="title"><%= data.product_shop.product.name %></div>
                                    <div class="size">Talle: <%= data.product_shop.size %></div>
                                    <div class="color">Color: 
                                        <div class="circle"></div>
                                        <div class="propertyColor none"><%= data.product_shop.color %></div>
                                    </div>
                                    <div class="units">
                                        <div class="amount">Cantidad: <%= data.product_shop.amount %></div>
                                        <div>Subtotal $<%= data.product_shop.subtotal %></div>    
                                    </div>
                                </div>
                            </div>
                            <div class="conteiner-button">
                                <!-- Edit data of product_shop -->
                                <div class="sub-conteiner">
                                    <a href="/shopping/edit/<%= data.product_shop.id %>">
                                        <div class="edit-view" id="button-edit"><i class="fas fa-edit"></i></div>
                                    </a>
                                    <form action="/shopping/delete/<%= data.product_shop.id %>?_method=DELETE" method="POST">
                                        <button id="button-delete" type="submit"><i class="fas fa-trash-alt"></i></button>
                                    </form>    
                                </div>
                                <div>
                                    <a class="button-detail" href="/products/detail/<%= data.product_shop.product_id %>">Ver detalle</a>
                                </div>
                            </div>
                        </article>
                    <% }); %>
                <% } %> 
            </section>            
            <section class="section-three">
                <form action="/shopping" method="POST">
                    <div class="title-summary">
                        <h2 class="resume">Resumen del pedido</h2>
                    </div>
                    <div class="conteiner-total">
                        <div class="total-title">Total</div>
                        <div>...............</div>
                        <div class="total-price">$<%= total %></div>
                    </div>
                    <div class="style-button">
                        <a href="/shopping">
                            <button id="buy" type="submit">Comprar</button>
                        </a>
                    </div>
                </form>
            </section>
        </div>
    </main>

    <div>
        <%- include('../partials/footer') %>
    </div>
    <script src="/js/shoppingCart.js" type="text/javascript"></script>
</body>

</html>