<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/productList.css">
        <title>Lista de Productos</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>
    <main>
        <section class="section">
            <article class="article-conteiner">
                <% products.forEach(product => { %>
                    <div class="article">
                        <div>
                            <div class="conteinerOfImages">
                                <a href="/products/detail/<%= product.id %>">
                                <img class="img" src="/img/<%= product.image %>" width="300px" height="300px" alt="" />
                                </a>
                            </div>
                            <br>
                            <div class=line>
                                <div class="shipping"><i class="fas fa-truck"></i></div>
                                <div class="box-text">
                                    <div class="price">
                                        <%= product.price %>
                                    </div>
                                </div>
                                <div class="description">
                                    <%= product.description %>
                                </div>
                                <div>
                                    <p class="box-button-save">
                                        <a href="/shopping">
                                            <input class="button-save" type="button" value="Agregar al carrito">
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </article>
        </section>
    </main>
    <div>
        <%- include ( '../partials/footer' ) -%>
    </div>
</body>

</html>