<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/productDetail.css">
        <title>Detalle del Producto</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>

    <main>
        <section class="general-box">
            <!-- ****Fotos de respaldo a la izquierda**** -->
                <section class="picture">
                    <% for (let i = 0; i < product.images.length; i++) { %> 
                        <div class="photos">
                            <img id="p1" class="pic" src="/img/productImage/<%= product.images[i].img %>" width="50px"
                            height="55px" alt="" />
                        </div>
                    <% } %> 
                </section>


                <div class="container">
                    <div class="principalPicture">
                        <!--aca va la foto principal-->
                        <img class="img-principalPicture" id="imagen-principal" src="/img/productImage/<%= product.images[0].img %>"
                            alt="imagenes que varian" />
                    </div>
                </div>

                <div class="detail">
                    <article>
                        <div class="category">
                            <!-- Hombre/Mujer>
                        Categoría  -->
                            <%= product.gender %>
                                >
                                <%= product.category %>
                        </div>
                        <div class="name">
                            <!--nombre del producto-->
                            <%= product.name %>
                        </div>
                        <div class="description">
                            <%= product.description %>
                        </div>
                        <div class="price">
                            <!--precio-->
                            ARS $<%= product.price %>
                        </div>
                    </article>

                    <article>
                        <div class="colorModel">
                            <!--colores y modelos disponibles-->
                            Colores disponibles
                        </div>

                        <!-- *** Una pequeña imagen del modelo de color (voy a probar con forma circular) *** -->
                        <div class="model">
                            <% for (let i = 0; i < data.length; i++) { %> 
                                <div>
                                    <img class = "mod" src="/img/productImage/<%= data[i].model.img %>" width = "80px" height = "110px" alt="<%= data[i].model.colors %>"/>
                                </div>
                            <% } %> 
                        </div> 
                    </article>

                    <article>
                        <div class="measures">
                            <!--talles-->
                            Talles
                        </div>
                        <div class="size">
                            <% if (product.sizes[0].xs == true) { %> 
                                <div id="xs" class="siz">XS</div>
                            <% } %> 
                            <% if (product.sizes[0].s == true) { %> 
                                <div id="s" class="siz">S</div>
                            <% } %> 
                            <% if (product.sizes[0].m == true) { %> 
                                <div id="m" class="siz">M</div>
                            <% } %> 
                            <% if (product.sizes[0].l == true) { %> 
                                <div id="l" class="siz">L</div>
                            <% } %> 
                            <% if (product.sizes[0].xl == true) { %> 
                                <div id="xl" class="siz">XL</div>
                            <% } %> 
                        </div>
                    </article>
                        <div class="article-action">
                            <article>
                                <a href="/shopping" style="text-decoration: none;">
                                    <div class="buy">
                                        <!--boton de comprar te lleva al carrito de compras y agrega el producto-->
                                        Comprar
                                    </div>
                                </a>
                            </article>

                            <article class="action">
                                <div class="saveCart">
                                    <div>
                                        <!--imagen del carrito-->
                                        <i id="cart" class="fas fa-cart-plus"></i>
                                    </div>
                                    <div class="save">
                                        <!--agregar al carrito-->
                                        <button type="submit" class="button-cart">Agregar al carrito</button>
                                    </div>
                                </div>
                                <div class="follow">
                                    <!--compartir-->
                                    Compartir
                                </div>
                            </article>
                        </div>
                </div>
        </section>
    </main>

    <div>
        <%- include ('../partials/footer') -%>
    </div>
    <script src="/js/productDetail.js" type="text/javascript"></script>
</body>

</html>