<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/productCreate.css">
        <title>Creá un Nuevo Producto</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>
    <main>
        <div class="create">
            <form class="create-form" action="/administration/products/create" method="POST" enctype="multipart/form-data">
                <div class="box">
                    <p>
                        <label class="create-text" for="name">Nombre del producto</label>
                    </p>
                    <p>
                        <input class="create-input" type="text" name="name" id="name" value="<%= locals.data && data.name? data.name : "" %>"></input>
                    </p>
                    <% if (locals.resultValidation && resultValidation.name) { %>
                      <%= resultValidation.name.msg %> 
                        <% } %> 
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="description">Descripción</label>
                    </p>
                    <p>
                        <input class="create-input" type="text" name="description" id="description" value="<%= locals.data && data.description? data.description : "" %>" ></input>
                    </p>
                    <% if (locals.resultValidation && resultValidation.description) { %>
                        <%= resultValidation.description.msg %> 
                     <% } %>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="price">Precio</label>
                    </p>
                    <p>
                        <input class="create-input" type="number" name="price" id="price" value="<%= locals.data && data.price? data.price : "" %>"></input>
                    </p>
                    <% if (locals.resultValidation && resultValidation.price) { %>
                        <%= resultValidation.price.msg %> 
                     <% } %>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="sizes">Talles disponibles</label>
                    </p>
                    <p>
                        <div class="create-options" multiple>
                            <label><input type="checkbox" name="sizes" id="sizes" value="xs">XS</label>
                            <label><input type="checkbox" name="sizes" id="sizes" value="s">S</label>
                            <label><input type="checkbox" name="sizes" id="sizes" value="m">M</label>
                            <label><input type="checkbox" name="sizes" id="sizes" value="l">L</label>
                            <label><input type="checkbox" name="sizes" id="sizes" value="xl">XL</label>
                        </div>
                    </p>
                    <% if (locals.resultValidation && resultValidation.sizes) { %>
                        <%= resultValidation.sizes.msg %> 
                     <% } %>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="images">Imagenes del producto</label>
                    </p>
                    <p>
                        <input class="create-img" type="file" accept="image/*" name="images" id="images" multiple>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="colors">Colores</label>
                    </p>
                        <div class="add-button">Agregar mas colores +</div>
                    <p class="conteiner-add-button">
                        <input class="create-input" type="color" name="colors" id="colors" value="<%= locals.data && data.colors? data.colors : "" %>"></input>
                    </p>
                    <% if (locals.resultValidation && resultValidation.colors) { %>
                        <%= resultValidation.colors.msg %> 
                     <% } %>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="gender">Género</label>
                    </p>
                    <p>
                        <select class="create-options" name="gender" id="gender">
                            <option type="checkbox" name="gender-men">Hombre</option>
                            <option type="checkbox" name="gender-women">Mujer</option>
                            <option type="checkbox" name="gender-unisex">Unisex</option>
                        </select>
                    </p>
                    <% if (locals.resultValidation && resultValidation.gender) { %>
                        <%= resultValidation.gender.msg %> 
                     <% } %>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="category">Categoría</label>
                    </p>
                    <p>
                        <select class="create-options" name="category" id="category">
                            <option type="checkbox" name="category-long-tshirt">Remeras Manga Larga</option>
                            <option type="checkbox" name="category-short-tshirt">Remeras Manga Corta</option>
                            <option type="checkbox" name="category-sleeveless">Musculosas</option>
                            <option type="checkbox" name="category-long-pants">Pantalones Largos</option>
                            <option type="checkbox" name="category-short-pants">Shorts</option>
                            <option type="checkbox" name="category-sports-tights">Calzas Termicas</option>
                            <option type="checkbox" name="category-warm-jacket">Camperas de Abrigo</option>
                            <option type="checkbox" name="category-thermal-jacket">Camperas Termicas</option>
                            <option type="checkbox" name="category-divers">Buzos</option>
                            <option type="checkbox" name="category-sets">Conjuntos</option>
                            <option type="checkbox" name="category-socks">Medias</option>
                            <option type="checkbox" name="category-sports-shoes">Calzado Deportivo</option>
                        </select>
                    <% if (locals.resultValidation && resultValidation.category) { %>
                        <%= resultValidation.category.msg %> 
                     <% } %>
                    </p>

                </div>
                <div class="box-button">
                    <p class="box-button-send">
                        <button id="button-send" type="submit" class="create-text">Crear</button>
                    </p>
                    <p class="box-button-delete">
                        <button id="button-delete" type="reset" class="create-text">Eliminar</button>
                    </p>
                </div>
            </form>
        </div>
    </main>
    <div>
        <%- include('../partials/footer') -%>
    </div>
    <script src="/js/productCreate.js" type="text/javascript"></script>
</body>

</html>