<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/productEdit.css">
        <title>Edita un Producto</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>
    <main>
        <div class="create">
            <form class="create-form" action="/administration/products/edit/<%= product.id %>?_method=PUT" method="POST"
                enctype="multipart/form-data">
                <div class="box">
                    <p>
                        <label class="create-text" for="name">Nombre del producto</label>
                    </p>
                    <p>
                        <input class="create-input" type="text" name="name" value="<%= product.name%>">
                    </p>
                    </label>
                    <small id="msgLastName"></small>
                    <% if( locals.errors && errors.lastNameEdit ) { %>
                        <h4>
                            <%= errors.lastNameEdit.msg %>
                        </h4>
                        <% } %>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="description">Descripción
                    </p>
                    <p>
                        <input class="create-input" type="text" name="description"
                            value="<%= product.description %>"></input>
                    </p>
                    </label>
                    <small id="msgLastName"></small>
                    <% if( locals.errors && errors.lastNameEdit ) { %>
                        <h4>
                            <%= errors.lastNameEdit.msg %>
                        </h4>
                        <% } %>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="price">Precio</label>
                    </p>
                    <p>
                        <input class="create-input" type="number" name="price" value="<%= product.price %>"></input>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="sizes">Talles disponibles</label>
                    </p>
                    <p class="currentData">
                        Talles actuales:
                        <% if (product.sizes[0].xs==true) { %>
                            XS
                            <% } %>
                                <% if (product.sizes[0].s==true) { %>
                                    S
                                    <% } %>
                                        <% if (product.sizes[0].m==true) { %>
                                            M
                                            <% } %>
                                                <% if (product.sizes[0].l==true) { %>
                                                    L
                                                    <% } %>
                                                        <% if (product.sizes[0].xl==true) { %>
                                                            XL
                                                            <% } %>
                    </p>
                    <p>
                    <div class="create-options" name="size" multiple>
                        <label><input type="checkbox" name="sizes" value="xs">XS</label>
                        <label><input type="checkbox" name="sizes" value="s">S</label>
                        <label><input type="checkbox" name="sizes" value="m">M</label>
                        <label><input type="checkbox" name="sizes" value="l">L</label>
                        <label><input type="checkbox" name="sizes" value="xl">XL</label>
                    </div>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="images">Imagenes del producto
                    </p>
                    <p class="currentData">
                        Imágenes actuales:
                        <% for (let i=0; i < product.images.length; i++) { %>
                            <%= product.images[i].img %>
                                <% } %>
                    </p>
                    <p>
                        <input class="create-img" type="file" accept="image/*" name="images" id="images" multiple>
                    </p>
                    </label>
                    
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="colors">Colores</label>
                    </p>
                    <p class="currentData">
                        Colores actuales:
                        <% for (let i=0; i < product.colors.length; i++) { %>
                            <%= product.colors[i].color %>
                                <% } %>
                    </p>
                    <div class="add-button">Agregar mas colores +</div>
                    <p class="conteiner-add-button">
                        <input class="create-input" type="color" name="colors"></input>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="gender">Género</label>
                    </p>
                    <p class="currentData">
                        Género actual:
                        <%= product.gender %>
                    </p>
                    <p>
                        <select class="create-options" name="gender">
                            <option type="checkbox" name="gender-men">Hombre</option>
                            <option type="checkbox" name="gender-women">Mujer</option>
                            <option type="checkbox" name="gender-unisex">Unisex</option>
                        </select>
                    </p>
                </div>
                <div class="box">
                    <p>
                        <label class="create-text" for="category">Categoría</label>
                    </p>
                    <p class="currentData">
                        Categoría actual:
                        <%= product.category %>
                    </p>
                    <p>
                        <select class="create-options" name="category">
                            <option type="checkbox" name="category-long-tshirt">Remeras Manga Larga</option>
                            <option type="checkbox" name="category-short-tshirt">Remeras Manga Corta</option>
                            <option type="checkbox" name="category-sleeveless">Musculosas</option>
                            <option type="checkbox" name="category-long-pants">Pantalones Largos</option>
                            <option type="checkbox" name="category-short-pants">Shorts</option>
                            <option type="checkbox" name="category-sports-tights">Calzas Termicas</option>
                            <option type="checkbox" name="category-warm-jacket">Camperas de Abrigo</option>
                            <option type="checkbox" name="category-thermal-jacket">Camperas Termicas</option>
                            <option type="checkbox" name="category-divers">Buzos</option>
                            <option type="checkbox" name="category-sets">Conjuntos</option>
                            <option type="checkbox" name="category-socks">Medias</option>
                            <option type="checkbox" name="category-sports-shoes">Calzado Deportivo</option>
                        </select>
                    </p>
                </div>
                <div class="box-button">
                    <p class="box-button-edit">
                        <button id="button-edit" type="submit" class="create-text">Editar</button>
                    </p>
                    <p class="box-button-delete">
                        <button id="button-delete" type="reset" class="create-text">Eliminar</button>
                    </p>
                </div>
            </form>
        </div>
    </main>
    <div>
        <%- include('../partials/footer') -%>
    </div>
    <script src="/js/productEdit.js" type="text/javascript"></script>
</body>