<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/administration.css">
        <title>Product Management</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>
    <main>
        <div class="title">
            <h1>Administra tus productos </h1>
            <h4><a class="link" href="/administration/products/create">Crear producto</a></h4>
        </div>
        <section>
            <article class="bar-conteiner">
                <nav>
                    <ul class="identification-bar">
                        <li>Id</li>
                        <li>Nombre</li>
                        <li>Editar</li>
                        <li>Eliminar</li>
                    </ul>
                </nav>
            </article>
            <article>
                <% products.forEach( products=> { %>
                    <div>
                        <ul class="administrator-options">
                            <li class="id">
                                <%= products.id %>
                            </li>
                            <li class="text">
                                <%= products.name %>
                            </li>
                            <li class="edit">
                                <a href="/administration/products/edit/<%= products.id %>"><i class="fas fa-edit"></i></a>
                            </li>
                            <li class="delete">
                                <form action="/administration/products/delete/<%= products.id %>?_method=DELETE" method="POST">
                                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <% }); %>
            </article>
        </section>
    </main>
    <div>
        <%- include('../partials/footer') -%>
    </div>
</body>

</html>