<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/deleteUser.css">
        <title>perfil</title>
</head>

<body class="all_container">
    <div>
        <%- include('../partials/header') %>
    </div>
    <main>
        <form action="/administration/destroy_user/<%= delete.id %>?_method=delete" method="post">
            <section>
                <div>
                    <img src="/public/img/user_photo/<%= delete.Image[0].avatar %>" alt="image of user to delete">
                </div>
                <div>
                    <h3>
                        <%= delete.name %>
                    </h3>
                </div>
            </section>
        </form>
    </main>
    <div>
        <%- include('../partials/footer') -%>
    </div>
    <script src="" text="text/javascript"></script>
</body>

</html>