<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/login.css">
        <title> Ingresá tu cuenta</title>
</head>

<body>
    <div>
        <%- include('../partials/header') -%>
    </div>
    <main class="elementMain">
        <div class="login-container">
            <div class="login-info-container">
                <article class="containerOfImgAndTitle">
                    <img src="/img/logo-shoes.svg" alt="logo-shoes" class="" width="100px">
                    <h3 class="title-shark">Shark Style</h3>
                </article>
                <form class="inputs-container" action="/users/login" method="POST">
                    <% if(locals.errors && errors.email){ %>
                        <div>
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                            <small class="msg-email"></small>
                            <input class="input" type="email" placeholder="E-mail" id="confirmEmail" name="email"
                                value="<%= locals.values_olds && values_olds.email ? values_olds.email : " " %>">
                            <% if(locals.errors && errors.password){ %>
                                <div>
                                    <%= errors.password.msg %>
                                </div>
                                <% } %>
                                    <small class="msg-password"></small>
                                    <input class="input" type="password" placeholder="Password" name="password"
                                        id="confirmPassword">
                                    <label>
                                        <input type="checkbox" class="checkbox" name="remember_user">Recordame
                                    </label>
                                    <button type="submit" class="boton">Iniciar sesión</button>
                                    <span class="span">¿Olvidaste tu contraseña?</span>
                                    <span class="span">¿No tienes una cuenta?<a href="/users/register" class="link-register">   Registrate</a></span>
                </form>
                <h3 class="title">Inicia sesión con google o facebook</h3>
                <div class="redes-login">
                    
                    <div class="redes-login-element">
                        <a
                            href="https://accounts.google.com/signin/v2/identifier?hl=es&passive=true&continue=https%3A%2F%2Fwww.google.com%2F&ec=GAZAmgQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>
                    <div class="redes-login-element">
                        <a href="https://es-la.facebook.com/">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <div>
        <%- include('../partials/footer') -%>
    </div>
    <script src="/js/login.js" text="text/javascript"></script>
</body>

</html>