<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/register.css">
        <title>Creá tu cuenta</title>
</head>

<body>
    <div>
        <%- include('../partials/header') -%>
    </div>
    <main class="elementContainerOfRegister">
        <div class="div-main">
            <form method="POST" action="/administration/register" id="form" class="formOfRegister"
                enctype="multipart/form-data">
                <section class="section-form">
                    <div class="conteinerOfAllTheElements">
                        <article>
                            <img src="/img/logo-shoes.svg" alt="logo of shark style" class="imageOfLogoShoes">
                            <h1 class="elementOfLogoShoes">Shark Style</h1>
                        </article>
                        <h2 class="subtitleOfRegister">Registrate para poder comprar y ver todos los productos</h2>
                        <div class="containerOfCountryOfRegister">
                            <label><h5 class="titlesOfTheForms">Ingresa una imagen para tu perfil</h5>
                                <input type="file" name="avatar" id="avatar" class="fileOfPhoto">
                            </label>
                        </div>
                        <h4 id="msg"></h4>
                        <div class="containerOfCountryOfRegister">
                            <label class="nombre"><h5 class="titlesOfTheForms">Nombre de usuario</h5>
                                <h5 class="name"></h5>
                                <input type="text" name="name" class="countryWithInformationOfRegister" id="name" placeholder="Nick" value="<%= locals.incomingData && incomingData.name? incomingData.name : '' %>">
                            </label>
                            <% if ( locals.errors && errors.name ) {%>
                                <p class="msg-error">
                                    <%= errors.name.msg %>
                                </p>
                                <% } %>
                        </div>
                        <div class="containerOfCountryOfRegister">
                            <label class="nombre"><h5 class="titlesOfTheForms">Apellido del usuario</h5>
                                <h5 class="lastName"></h5>
                                <input type="text" name="lastname" id="lastname" class="countryWithInformationOfRegister" placeholder="Kennedy" value="<%= locals.incomingData && incomingData.lastname? incomingData.lastname : '' %>">
                            </label>
                            <% if ( locals.errors && errors.lastName ) {%>
                                <p class="msg-error">
                                    <%= errors.lastName.msg %>
                                </p>
                                <% } %>
                        </div>
                        <div class="containerOfCountryOfRegister">
                            <label class="nombre">
                                <h5 class="titlesOfTheForms">Escribe tu correo electronico</h5>
                                <input type="email" name="email" id="emailWithInformation" class="countryWithInformationOfRegister" placeholder="nickennedy@gmail.com.ar" value="<%= locals.incomingData && incomingData.email? incomingData.email : '' %>">
                            </label>
                            <h5 class="msgOfErrorOfEmail"></5>
                            <% if ( locals.errors && errors.email ) {%>
                                <p class="msg-error">
                                    <%= errors.email.msg %>
                                </p>
                                <% } %>
                        </div>
                        <div class="containerOfCountryOfRegister">
                            <label class="nombre"><h5 class="titlesOfTheForms">Contraseña</h5>
                                <h5 class="password"></h5>
                                <input type="password" name="password" id="password" class="countryWithInformationOfRegister" placeholder="aABj12ksjs2020">
                            </label>
                            <% if ( locals.errors && errors.password ) {%>
                                <p class="msg-error">
                                    <%= errors.password.msg %>
                                </p>
                                <% } %>
                        </div>
                        <div class="terminos">
                            <label>
                                <h5 class="termsAndConditions">
                                    <input type="radio">
                                    Acepta nuestras condiciones de servicio y política de privacidad
                                </h5>
                            </label>
                        </div>
                        <div class="conteiner-button">
                            <button type="submit" class="buttonOfAccound">Crear cuenta</button>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </main>
    <div>
        <%- include('../partials/footer') %>
    </div>
    <script src="/js/register.js" text="text/javascript"></script>
</body>

</html>