<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/editUser.css">
        <title>Creá tu cuenta</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>
    <main class="main">
        <div class="div-container">
            <article class="profileUser">
                <div class="container-image">
                    <img src="/img/user_photo/<%= user.Image[0].avatar %> " alt="imagen del usuario">
                </div>
                <h2>
                    <%= user.name + " " + user.lastname %>
                </h2>
            </article>
            <form action="/administration/edit/<%= user.id %>" method="post" enctype="multipart/form-data">
                <section>
                    <article class="article">
                        <div class="boxes">
                            <label>Cambiar foto de perfil
                                <br>
                                <input type="file" name="avatarEdit" id="avatarEdit" class="file">
                            </label>
                        </div>
                        <div class="boxes">
                            <label class="nombre">Cambiar nombre de usuario:
                                <br>
                                <input type="text" name="name" class="campo" value="<%= user.name %>">
                            </label>
                        </div>
                        <div class="boxes">
                            <label class="nombre">Cambiar apellido:
                                <br>
                                <input type="text" name="lastName" id="lastName" class="campo"
                                    value="<%= user.lastname%>">
                            </label>
                        </div>
                    </article>
                    <article class="article">
                        <div class="boxes">
                            <label class="nombre">Cambiar email:
                                <br>
                                <input type="email" name="email" id="email" value="<%= user.email %>" class="campo">
                            </label>
                        </div>
                        <div class="boxes">
                            <label class="nombre">Cambiar contraseña:
                                <br>
                                <input type="password" name="password" id="password" value="<%= user.password %>" class="campo">
                            </label>
                        </div>

                        <div class="box">
                            <button type="submit" class="button">Editar Usuario</button>
                        </div>
                    </article>
                </section>
            </form>
        </div>
    </main>
    <div>
        <%- include('../partials/footer') %>
    </div>
</body>

</html>