<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <link rel="stylesheet" href="/css/editUser.css">
        <title>Edita tu perfil</title>
</head>

<body>
    <div>
        <%- include('../partials/header') %>
    </div>
    <main class="main">
        <div class="div-container">
            <article class="profileUser">
                <div class="container-image">
                    <img src="/img/user_photo/<%= user.Image[0].avatar %>" alt="imagen del usuario">
                </div>
                <h2>
                    <%= user.name + " " + user.lastname %>
                </h2>
            </article>
            <form class="formulario" action="/administration/edit/<%= user.id %>" method="post"
                enctype="multipart/form-data">
                <section>
                    <article class="article">
                        <div class="boxes">
                            <label>Cambiar foto de perfil
                                <br>
                                <input type="file" name="avatarEdit" id="avatarEdit" class="file"
                                ><!-- onchange="ValidarImagen(this);" -->
                            </label>
                        </div>
                        <div class="boxes">
                            <label class="nombre">Cambiar nombre de usuario:
                                <br>
                                <input type="text" name="nameEdit" id="name" class="campo" value="<%= user.name %>">
                            </label>
                            <small id="msgName"></small>
                            <% if( locals.errors && errors.nameEdit ) { %>
                                <h4>
                                    <%= errors.nameEdit.msg %>
                                </h4>
                                <% } %>
                        </div>
                        <div class="boxes">
                            <label class="nombre">Cambiar apellido:
                                <br>
                                <input type="text" name="lastNameEdit" id="lastName" class="campo"
                                    value="<%= user.lastname %>">
                            </label>
                            <small id="msgLastName"></small>
                            <% if( locals.errors && errors.lastNameEdit ) { %>
                                <h4>
                                    <%= errors.lastNameEdit.msg %>
                                </h4>
                                <% } %>
                        </div>
                    </article>
                    <article class="article">
                        <div class="boxes">
                           
                            <label class="nombre">Cambiar email:
                                <br>
                                <input type="email" name="emailEdit" id="emailEdit" value="<%= user.email %>" class="campo">
                            </label>
                            <small id="msgEmail"></small>
                            <% if( locals.errors && errors.emailEdit ){ %>
                                <h4>
                                    <%= errors.emailEdit.msg %>
                                </h4>
                                <% } %>
                        </div>
                        <div class="boxes">
                            <label class="nombre">Cambiar contraseña:
                                <br>
                                <input type="password" name="passwordEdit" id="password" value="<%= user.password %>"
                                    class="campo">
                            </label>
                            <small id="msgPassword"></small>
                            <% if(locals.errors && errors.passwordEdit ){ %>
                                <h4>
                                    <%= errors.passwordEdit.msg %>
                                </h4>
                                <% } %>
                        </div>
                        <!-- 
                        <div class="boxes">
                            <label class="nombre">Role:
                                <br>
                                <input type="number" name="Role" id="Role" value="<%# user.Role %>" class="campo">
                            </label>
                        </div> -->
                        <div class="box">
                            <button type="submit" class="button">Editar Usuario</button>
                        </div>
                    </article>
                </section>
            </form>
        </div>
    </main>
    <div>
        <%- include('../partials/footer') %>
    </div>
    <script src="/js/userEdit.js" text="text/javascript"></script>
</body>

</html>